@import 'tailwindcss';

body {
  font-family: 'Inter', system-ui, sans-serif;
}

@layer utilities {
  .container {
    width: 100%;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (min-width: 768px) {
    .container {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }

  .main-color {
    background-color: #41cccc;
  }
}
